*{padding: 0; margin: 0; outline: none}
ul{list-style-type: none}
a{text-decoration: none; -webkit-transition: .35s;
-moz-transition: .35s;
-ms-transition: .35s;
-o-transition: .35s;
transition: .35s;}
button{
	-webkit-transition: .35s;
	-moz-transition: .35s;
	-ms-transition: .35s;
	-o-transition: .35s;
	transition: .35s;
}
html, body{font: 400 16px/1.1 'Open Sans', sans-serif}
.container{
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	position: relative;
		&:after{
			content: "";
			clear: both;
			display: block;
		}
}
.osb18, .osb14, .osb22, .osb21{
	font-size: 18px;
	font-weight: 700;
	padding: 28px 0;
	text-align: center;
	color: #333;
	text-transform: uppercase;
	margin: auto;
}
.osb14{
	font-size: 14px;
	font-weight: 700;
	padding: 25px 0;
}
.osb21{
	font-size: 21px;
	margin: 10px 0;
	padding: 0;
}
.osb22{
	font-size: 22px;
	padding: 35px 0 0;
}
.os14{
	font-size: 14px;
	padding: 25px 0;
	color: #000;
}
.p_df{
	display: flex;
		img{
			margin: auto;
		}
}
.btn, .btn__{
	width: 210px;
	height: 44px;
	background: #ED1B23;
	display: flex;
	margin: auto;
	-webkit-border-radius: 30px;
	border-radius: 30px;
		span{
			font-size: 13px;
			font-weight: 700;
			margin: auto;
			color: #F0F0F0;
			text-transform: uppercase;
		}
		&:hover{
			background: #FF6167;
		}
}

.btn__{
	border: 1px solid #ed1b23;
	background: #fff;
		span{
			color: #EE2A32;
		}
		&:hover{
			background: #d8f9f6;
		}
}
.title{
	text-align: center;
	margin: auto;
	font-size: 30px;
	font-weight: bold;
	color: rgb(51, 51, 51);
	text-transform: uppercase;	

	.title__item{
		position: relative;
		padding-bottom: 30px;
		border-bottom: 1px solid #cccccc;
		&:after{
			content:"";
			position: absolute;
			border-bottom: 1px solid #ed1b23; 
			width: 88px;
			height: 1px;
			left: 0px;
			bottom: -1px;
		}

		&:before{
			content:"";
			position: absolute;
			background-color: #ed1b23; 
			border-radius:4px;
			width: 8px;
			height: 8px;
			left: 0px;
			bottom: -4px;
		}
	}
	.title--red{
		color: #ed1b23;
	}
}

.main_head{
	margin: auto;
	height: 200px;
	min-width: 200px;
}

/* ===header=== */
.header{
	.container{
		.logo{
			padding: 25px 0;
			.logo_item{
				display: flex;
				a{
					margin: auto;
					display: flex;
						img{
							margin: auto;
						}
				}
			}
			p{
				margin-top: 15px;
				text-align: center;
				font-size: 16px;
				color: #333;
			}
		}
	}
}

/* ===main_1=== */
.main_1{
	background: url("../img/bac-top.png")no-repeat;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  padding: 95px 0 80px;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
		.container{
			.main_1_item{
				max-width: 1030px;
				margin: 0 auto;
				// padding-left: 105px;
				display: flex;
				-webkit-justify-content: space-between;
				justify-content: space-between;
					.main_1__{
						width: 230px;
							p{
								height: 75px;
									img{
										margin: auto;
									}
							}
					}
			}
			h4{
				color: #333;
				font-size: 56px;
				font-weight: 700;
				text-align: center;
				padding: 50px 0 28px;
			}
			h5{
				padding: 0 0 40px;
				color: #333;
				text-align: center;
				font-size: 22px;
				text-transform: uppercase;
				font-weight: 400;
					span{
						font-size: 27px;
						font-weight: 700;
					}
			}
		}
}
/* ===main_2=== */
.main_2{
	padding: 60px 0;
		.container{
			.main_2_item{
				display: flex;
				-webkit-justify-content: space-between;
				justify-content: space-between;
					.main_2__{
							.p_df{
								height: 60px;
							}
							img{
								margin: auto;
							}
					}
			}
			.main_2_item__{
				display: flex;
				-webkit-justify-content: space-between;
				justify-content: space-between;
					.item_2{
						width: 370px;
							.item_2_left{
								img{
									margin: auto 0;
								}
							}
							.item_2_right{
								margin-left: 20px;
									.link_2_right{
										margin: auto 0;
											.osb14{
												padding: 0 0 13px;
												text-align: left;
											}
											h4{
												font-size: 14px;
												color: #000;
											}
									}
							}
					}
			}
		}
}
/* ===main_3=== */
.main_3{
	padding: 55px 0;
	background: url("../img/bac-top.png")no-repeat;
	.container{
		.main_3_box{
			position: relative;
			width: 170px;
				img{
					position: absolute;
					top: -80px;
				}
		}
		.main_3_free{
			width: 430px;
			.main_3_free_item{
				margin: auto;
			}
		}
		form{
			margin-left: 40px;
			display: flex;
			width: 530px;
			-webkit-justify-content: space-between;
			justify-content: space-between;
				input{
					text-indent: 20px;
					width: 300px;
					border: 1px solid #cccccc;
					height: 42px;
					-webkit-border-radius: 30px;
					border-radius: 30px;
					margin: auto 0;
					color: #939393;
					font-size: 13px;
				}
				a{
					margin: auto 0;
				}
		}
	}
}
/* ===main_4 + main_6=== */
.main_4, .main_6{
	padding: 90px 0 80px;
	.container{
		.main_4_head{
			.main_4_head_item{
				background: url("../img/big-office.png")no-repeat;
				background-position: center;
			}
		}
		.main_4_bot{
			.main_4_left{
				width: 52%;
				font-size: 0;
				margin: auto 100px auto 0;
				.main_4_left_item{
					float: left;
					width: 270px;
					margin-right: 30px;
						.main_4_left_link{
							margin: auto;
								.p_df{
									img{
										height: 55px;
									}
								}
						}
				}
			}
			.main_4_right{
				width: 40%;
			}
		}
	}
}
.main_6{
	.container{
		.main_4_head{
			.main_4_head_item{
				background: url("../img/big-shop.png")no-repeat;
				background-position: center;
			}
		}
	}
}
/* ===main_5=== */
.main_5{
	padding: 80px 0;
	background: url("../img/bac-top.png")no-repeat;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
		.container{
			.main_5_head{
				.main_5_head_item{
					background: url("../img/big-rest.png")no-repeat;
					background-position: center;
				}
			}
			.main_5_bot{
				.main_5_left{
					width: 40%;
				}
				.main_5_right{
					width: 52%;
					font-size: 0;
					margin: auto 100px auto 0;
					.main_5_right_item{
						float: left;
						width: 270px;
						margin-right: 30px;
							.main_5_right_link{
								margin: auto;
									.p_df{
										img{
											height: 55px;
										}
									}
							}
					}
				}
			}
		}
}
/* ===main_7=== */
.main_7{
	padding: 90px 0;
	background: url("../img/bac-top.png")no-repeat;
		.main_7_bot{
			margin-top: 100px;
			-webkit-justify-content: space-between;
			justify-content: space-between;
			.main_7_link{
				width: 370px;
					img{
						height: 60px;
					}
					.osb22{
						line-height: 34px;
				    width: 90%;
					}
					.os14{
						text-align: center;
						padding-top: 5px;
					}
			}
		}
}
/* ===main_8=== */
.main_8{
	padding: 60px 0 75px;
	.container{
		max-width: 970px;
			.main_8__{
				.main_8_item{
					img{
						height: 60px;
					}
					ul{
						margin: auto;
						margin-top: 20px;
						list-style-type: square;
						color: #ED1B23;
							li{
								padding: 8px 0;
								.os14{
									padding: 0;
								}
							}
					}
				}
			}
			.lt{
				width: 38%;
				margin-right: 14%;
			}
			.rt{
				width: 48%;
			}
	}
}
/* ===main_9=== */
.main_9{
	padding: 75px 0 80px;
	background: url("../img/bac-top.png")no-repeat;
	.container{
		.main_9_calc{
			margin: auto;
			width: 370px;
				h5{
					text-align: center;
					color: #333;
					font-size: 13px;
				}
				h6{
					text-align: center;
					color: #939393;
					font-size: 13px;
					margin: 35px 0 10px;
				}
				.runner{
					width: 370px;
					.runner_item{
					-webkit-justify-content: space-between;
					justify-content: space-between;
						position: relative;
						width: 370px;
						.inp__val{
							color: #939393;
							font-size: 13px;
							position: absolute;
							top: 0;
							right: 100px;
							border: none;
							background: none;
							width: 30px;
						}
						.inp_right{
						height: 42px;
						width: 70px;
						border: 1px solid #cccccc;
						-webkit-border-radius: 30px;
						border-radius: 30px;
						text-align: center;
						color: #939393;
						}



/* Ширина слайдера */
#slider, #slider_cup{
    width: 270px;
    margin: auto 0;
}
/* Контейнер слайдера */
.ui-slider {
    position: relative;
}
/* Ползунок */
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 13px;   /* Задаем нужную ширину */
    height: 13px;  /* и высоту */
    background: #ed1b23;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    // background: url(../img/slider.png) no-repeat; /* картинка изображающая ползунок. Или можно залить цветом, задать бордюр и скругления */
    cursor: pointer
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    overflow: hidden;
}
/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
.ui-slider-horizontal {
     height: 3px; /* задаем высоту согласно дизайна */
}
/* позиционируем ползунки */
.ui-slider-horizontal .ui-slider-handle {
    top: -5px;
    margin-left: -6px;
}
.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}
/* оформление полосы по которой ходит ползунок */
.ui-widget-content {
    border: none;
    background: #ccc;
}
/* оформление активного участка (между двумя ползунками) */
.ui-widget-header {
    // border: 1px solid #D4D4D4;
    background: #ed1b23;
}
/* скругление для полосы слайдера */
.ui-corner-all {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}





					}
					// input{
					// 	height: 42px;
					// 	width: 70px;
					// 	border: 1px solid #cccccc;
					// 	-webkit-border-radius: 30px;
					// 	border-radius: 30px;
					// 	text-align: center;
					// 	color: #939393;
					// }
				}
				p{
					text-transform: uppercase;
						span:first-child{
							color: #ED1B23;
							margin-left: 30px;
						}
						span:nth-child(2){
							color: #ED1B23;
						}
						span:last-child{
							color: #8d8d8d;
							text-transform: lowercase;
						}
				}
				a{
					margin-top: 20px;
				}
		}
	}
}
/* ===main_10=== */
.main_10{
	padding: 80px 0;
	.content{
		display: flex;
		display: -webkit-flex;
		
	}

	.content__item{
		margin-top: 36px;
		width: 387px;;
		font-family: 'Open Sans';
	}


	.content__title{
		padding-bottom: 5px;
		text-align: left;

		span{
			position:relative;
			bottom: 20px;
    		left: 12px;
		}
	}

	.content__text{
		padding-left: 100px;
		font-size: 14px;
		line-height: 1.5;

	}

	.bottom-line{
		padding-left: 0;
		margin-left: 100px;
		padding-bottom: 59px;
		border-bottom: 1px solid #cccccc;
		position: relative;
		&:before{
			content:"";
			position: absolute;
			border-bottom: 1px solid #ed1b23; 
			width: 88px;
			height: 1px;
			left: 0px;
			bottom: -1px;
		}

		&:after{
			content:"";
			position: absolute;
			background-color: #ed1b23; 
			border-radius:4px;
			width: 8px;
			height: 8px;
			left: 0px;
			bottom: -4px;
		}
	}

	.content__coffe{
		margin-top: 62px;	
	    margin-left: -3.3vw;
	    margin-right: -5.5vw;
		img{
			width: 100%;
		}
	}

	.content__consult{
		margin-top: 60px;
		margin-left: 100px;	
	}

	.btn{
		margin-top: 30px;
		margin-left: 0;
	}
	
	.content__title2{
		font-size: 21px;
	 	color: rgb(237, 27, 35);
	 	font-weight: bold;
	 	text-transform: uppercase;
	 	line-height: 1.2;
	 	position: relative;
	  	bottom: 15px;
  		span{
	  		font-size: 14px;
	 		color: rgb(0, 0, 0);
	 		text-transform: none;
  		}
	}
	
	.scheme{
		margin-top: 85px;
		justify-content: space-around;
	}

	.scheme__item{
		text-align: center;
		width: 270px;
		position: relative;
		
		&:not(:last-child):before{
			content: "";
			position: absolute;
			max-width: 170px;
			width: 63%;
			min-width: 70px;
			border-bottom: 1px dashed #cccccc;
			top: 33px;
	    	left: 187px;
		}

		img{
			padding-bottom: 25px;
		}

		.ptop-10{
			padding-top: 11px;
		}
	}
	.content--f{
		justify-content: center;
		align-items: center; 
		margin-bottom: 55px;
		margin-top: 40px;
	}
}

.main_11{
	background: url("../img/bac-top.png")no-repeat;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 75px 0;
	form{
		width: 370px;
		margin: 0 auto;
		text-align: center;
		font-size: 21px;
		color: rgb(51, 51, 51);
  		font-weight: bold;
  		text-transform: uppercase;
  		line-height: 1.2;
  		text-align: center;
	}
	
	.form__title{
		padding-bottom: 30px;
	}

	input{
		text-align: center;
		width: 100%;
		border: 1px solid #cccccc;
		padding: 17px 0;
		border-radius: 50px;
		margin-bottom: 19px;
		font-size: 13px;

	}
	
	button{
		border: none;
		display: block;
		font-size: 13px;
  		color: rgb(240, 240, 240);
  		font-weight: bold;
  		text-transform: uppercase;
	}

}






